<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1 class="d-flex align-items-center justify-content-center">Profile Edit</h1>
    </div>
  </div>

  <div class="row mt-1 md-3">
    <div class="mx-auto">
      <% if @customer.errors.any? %>
        <%= @customer.errors.count %>件の空欄があります
      <% end %>
    </div>
  </div>

  <%= form_with model: @customer, url: public_customer_path, method: :patch do |f| %>
    <div class="row">
      <div class="mx-auto col-lg-6 col-sm-8">
        <table class="table">
          <tr>
            <th><%= f.label :"画像" %></th>
            <td><%= f.file_field :profile_image, accept: "image/*", class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"ニックネーム" %></th>
            <td><%= f.text_field :name, class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"自己紹介" %></th>
            <td><%= f.text_area :introduction, class:"form-control" %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mt-2">
      <div class="d-flex align-items-center justify-content-center mx-auto col-lg-4 col-sm-8">
        <%= f.submit "変更を保存",class: "btn btn-outline-primary col-5 mr-2" %>
      </div>
    </div>

  <% end %>
</div>