<!--投稿編集画面-->
<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1 class="d-flex align-items-center justify-content-center">Edit</h1>
    </div>
  </div>

  <div class="row mt-1 md-3">
    <div class="mx-auto"><!--エラーメッセージ-->
      <% if @post_cosme.errors.any? %>
        <%= @post_cosme.errors.count %>件の空欄があります
      <% end %>
    </div>
  </div>

  <%= form_with model: @post_cosme, url: public_post_cosme_path(@post_cosme.id), method: :patch do |f| %>
    <div class="row">
      <div class="mx-auto col-5">
        <table class="table">
          <tr>
            <th><%= f.label :"画像" %></th>
            <td><%= f.file_field :image, accept: "image/*", class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"商品名" %></th>
            <td><%= f.text_field :cosme_name, class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"内容" %></th>
            <td><%= f.text_area :introduction, class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"タグ" %></th>
            <td><%= f.collection_select :tag_id, Tag.all, :id, :name %></td>
          </tr>
          <tr>
            <th><%= f.label :'評価' %></th>
            <td class="post_cosme-evaluation" data-score="<%= @post_cosme.evaluation %>"><%= f.hidden_field :evaluation, id: :review_star %></td>
            <script>
              $('.post_cosme-evaluation').empty();//ページを戻る時に星を何個も出さない為
              $('.post_cosme-evaluation').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'post_cosme[evaluation]',
                half: true,
                score: function() {
                  return $(this).attr('data-score');
                },
              });
            </script>
          </tr>
        </table>
      </div>
    </div>

    <div class="row mt-2">
      <div class="d-flex align-items-center justify-content-center mx-auto col-lg-4 col-sm-8">
          <%= f.submit "変更を保存",class: "btn btn-outline-primary col-5 mr-2" %>
      </div>
    </div>
  <% end %>
</div>

