<!--新しい投稿画面-->

<div class="container">
  <div class="row mt-5 md-3">
    <div class="col-12">
        <h1 class="d-flex align-items-center justify-content-center">New</h1>
    </div>
  </div>

  <div class="row mt-1 md-3">
    <div class="mx-auto">
      <% if @post_cosme.errors.any? %>
        <%= @post_cosme.errors.count %>件の空欄があります
      <% end %>
    </div>
  </div>

  <%= form_with model: @post_cosme, url: public_post_cosmes_path do |f| %>

    <div class="row">
      <div class="mx-auto col-lg-5 col-sm-9">
        <table class="table">
          <tr>
            <th><%= f.label :"画像" %></th>
            <td><%= f.file_field :image, accept: "image/*", class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"商品名" %></th>
            <td><%= f.text_field :cosme_name, class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"内容" %></th>
            <td><%= f.text_area :introduction,placeholder: "「商品の特徴」「テクスチャー」「使用感」「色味」など", class:"form-control" %></td>
          </tr>
          <div class="check_box">
            <tr>
              <th><%= f.label :"タグ" %></th>
              <td><%= f.collection_select :tag_id, Tag.all, :id, :name, class:"form-control" %></td>
            </tr>
          </div>
            <tr>
              <th><%= f.label :evaluation,"評価" %></th>
              <td id="evaluate_stars"><%= f.hidden_field :evaluation, id: :review_star %></td>
              <script>
                $('#evaluate_stars').empty();//ページを戻る時に星を何個も出さない為
                $('#evaluate_stars').raty({//☆の画像を持ってくる
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: 'post_cosme[evaluation]',
                  half: true,
                });
              </script>
            </tr>
        </table>
      </div>
    </div>

    <div class="row mt-2">
      <div class="mx-auto col-2">
        <%= f.submit '投稿',class: "btn btn-outline-info col-7" %>
      </div>
    </div>
  <% end %>
</div>
