<div>
  <h1>新規投稿</h1>
  <%= form_with model: @post_cosme, url: public_post_cosmes_path do |f| %>
    <div>
      <%= f.label :"画像" %>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div>
      <%= f.label :"商品名" %>
      <%= f.text_field :cosme_name %>
    </div>
    <div>
      <%= f.label :"内容" %>
      <%= f.text_area :introduction %>
    </div>

    <div class="check_box">
      <%= f.label :"タグ" %>
      <%= f.collection_select :tag_id, Tag.all, :id, :name %>
 　  </div>

    <div id="evaluate_stars"><!--評価-->
      <%= f.label :evaluate,'評価 ', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :evaluate, id: :review_star %>
    </div>
    <script>
      $('#evaluate_stars').raty({//☆の画像を持ってくる
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'post_cosme[evaluation]',
        half: true,
      });
    </script>
    <%= f.submit '投稿' %>
  <% end %>
</div>
