<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1 class="d-flex align-items-center justify-content-center"><%= @customer.name %>さんの情報編集</h1>
    </div>
  </div>

  <div class="row mt-1 md-3">
    <div class="mx-auto">
      <% if @customer.errors.any? %>
        <%= @customer.errors.count %>件の空欄があります
      <% end %>
    </div>
  </div>

  <%= form_with model: @customer, url:admin_customer_path, method: :patch do |f| %>
    <div class="row">
      <div class="mx-auto col-lg-4 col-sm-8">
        <table class="table">
          <tr>
            <th>名前</th>
            <td><%= f.text_field :name, class:"form-control" %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= f.text_area :introduction, class:"form-control" %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= f.text_field :email, class:"form-control" %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row mt-2">
      <div class="d-flex align-items-center justify-content-center mx-auto col-lg-4 col-sm-8">
          <%= f.submit "変更を保存",class: "btn btn-outline-primary col-5 mr-2" %>
          <%= link_to "戻る", admin_customer_path(@customer.id),class: "btn btn-outline-info col-5" %>
      </div>
    </div>

  <% end %>

</div>

