<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h3 class="d-flex align-items-center justify-content-center">マイアカウント登録</h3>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-8">
      
      <% if admin_signed_in? %><!--管理者でログインしているときに会員ページに入れない-->
        <p class="text-center">既に管理者側でログイン中です</p>
        <p class="text-center">ログアウト後に再度お試しください</p>
        <%= link_to "管理者ページへ戻る",admin_customers_path,class: "btn btn-outline-info ml-5 col-5" %>
        <%= link_to "ログアウト",destroy_customer_session_path, method: :delete, class: "btn btn-outline-danger col-5" %>
        
      <% else %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <table class="table">
            <tr>
              <th><%= f.label :名前 %></th>
              <td><%= f.text_field :name, class:"form-control" %></td>
            </tr>
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
            </tr>
            <tr>
              <th>
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                <% end %>
              </th>
              <td><%= f.password_field :password, autocomplete: "new-password", class:"form-control" %></td>
            </tr>
            <tr>
              <th><%= f.label :パスワード確認 %></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %></td>
            </tr>
          </table>

          <div class="row mb-4">
            <div class="mx-auto col-2">
              <%= f.submit "新規登録", class: "btn btn-dark" %>
            </div>
          </div>
          
          <div class="row">
            <div class="mx-auto col-4">
              <%= render "public/shared/links" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>