<!DOCTYPE html>
<html>
  <head>
    <title>CosmeReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light"><!--ﾅﾋﾞｹﾞｰｼﾞｮﾝ部分-->
        <div class="container">
          <a class="navbar-brand font-italic">CosmeReview</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

              <% if customer_signed_in? %><!--会員側-->
                  <li  class="nav-item">
                    <%= link_to public_customer_path(current_customer.id), class: "nav-link text-dark font-italic",data: {"turbolinks"=>false} do %>
                      <i class="fas fa-home text-dark"></i>
                      Home
                    <% end %>
                  </li>
                  <li  class="nav-item">
                    <%= link_to public_post_cosmes_path, class: "nav-link text-dark font-italic",data: {"turbolinks"=>false} do %>
                      <i class="fas fa-clipboard-list"></i>
                      Lists
                    <% end %>
                  </li>
                  <li  class="nav-item">
                    <%= link_to new_public_post_cosme_path, class: "nav-link text-dark font-italic" do %>
                      <i class="fas fa-plus"></i>
                      New
                    <% end %>
                  </li>
                  <li  class="nav-item">
                    <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-dark font-italic" do %>
                      <i class="fas fa-sign-out-alt"></i>
                      Log out
                    <% end %>
                  </li>

                <% elsif admin_signed_in? %><!--管理者側-->
                  <li  class="nav-item">
                    <%= link_to admin_customers_path, class: "nav-link text-dark font-italic",data: {"turbolinks"=>false} do %>
                      <i class="fas fa-users"></i>
                      Members
                    <% end %>
                  </li>
                  </li>
                  <li  class="nav-item">
                    <%= link_to admin_post_cosmes_path, class: "nav-link text-dark font-italic",data: {"turbolinks"=>false} do %>
                      <i class="fas fa-clipboard-list"></i>
                        Lists
                    <% end %>
                  </li>
                  <li  class="nav-item">
                    <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-dark font-italic" do%>
                      <i class="fas fa-sign-out-alt"></i>
                      Log out
                    <% end %>
                  </li>
                <% else %><!--ログイン前-->
                  <li  class="nav-item">
                    <%= link_to new_customer_registration_path, class: "nav-link text-dark font-italic" do %>
                      <i class="fas fa-user-plus"></i>
                      Sign up
                    <% end %>
                  </li>
                  <li  class="nav-item">
                    <%= link_to new_customer_session_path, class: "nav-link text-dark font-italic" do %>
                      <i class="fas fa-sign-in-alt"></i>
                      Log in
                    <% end %>
                  </li>
                <% end%>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
